{% load  static%}
<!DOCTYPE HTML>
<html>

<head>
<title>Voidmain</title>
<link rel="stylesheet" type="text/css" href="{% static 'style/style.css'%}" title="style" />
</head>

<body>
	<div id="main">
		<div id="header">
			<div id="logo">
				<div id="logo_text">
					<!-- class="logo_colour", allows you to change the colour of the text -->
					<h3>
						<center><a href="#"><font color="white" size="5"> Online Book Store  </font></a></h3></center>
					</h3>
					<br/><br/>
				</div>
			</div>
			<div id="menubar">
				<ul id="menu">

                    <li><a href="/getproducts">Books</a></li>

                    {% if request.session.role in "admin" %}
                        <li><a href="/postproduct">Post Book</a></li>
                    {% endif %}

                    <li><a href="/transactions">Transactions</a></li>

                    <li><a href="/logout">logout</a></li>

				</ul>
			</div>
		</div>
		<div id="content_header"></div>
		<div id="site_content">

			<div id="content">

				<h1>Welcome to  <strong>{{request.session.username}}</strong>{{form.non_field_errors}}</h1>

                <table style="width: 100%; border-spacing: 0;">

                    <tr>
						<td>Name</td>
						<td>Email</td>
                        <td>Mobile</td>
                        <td>Address</td>
                    </tr>

                    {% for user in users %}
                        <tr>
                            <td>{{user.name}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.mobile}}</td>
                            <td>{{user.address}}</td>

                        </tr>
                    {% endfor %}

  				</table>

            </div>
        </div>
	</div>
</body>
</html>
